
<h1>
Convert 
<%= @original_currency %>
</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @symbols.each do |symbols| %>
    <li>
      <a href="/<%= @original_currency %>/<%= symbols %>">
      Convert 1 
      <%= @original_currency %> 
      to 1 
      <%= symbols %> 
      ...
      </a>
    </li>
  <% end %>
</ul>
